*{
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.col-1 {width: 8.33%; }
.col-2 {width: 16.66%;}
.col-3 {width: 25%; }
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.anchor a{
    position: absolute;
    left: 0px;
    top: -13vh;
}

.anchor{
    position: relative;
    height: 20%;
}

#header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 9vh;
    min-height: 50px;
    border: thick solid black;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 2;
}

#header-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#header-img{
    width: 100%;
    min-width: 40.8px;
    max-width: calc(7.75vh*1.02);
}

#header-title-container{
    height: 100%;
    display: flex;
    max-height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
}

#header-title{
    font-size: 4.5vw;
    text-align: center;
}

#nav-bar{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#main{
    position: relative;
    top: 10vh;
    max-width: 80vw;
    margin: auto;
    z-index: 1;
    text-align: center;
    background-color: white;
    font-size: 2vw;
}
#main div{
    padding-top: 8vh;
}

#main div #num-people{
    padding-top: 20px;
}

#main div div{
    padding-top: 0;
}

#about{
    text-align: center;
}

#info{
    height: auto;
}

#info-contents{
    height: 90%;
}

#video{
    height: 40vh;
    width: 40vw;
    max-height: 800px;
    max-width: 1600px;
    margin: auto;
}

#menu-content{
    border-style: solid;
    border-color: black;
    border-width: thick;
    margin: auto;
}

.menu-items{
    margin: auto;
}
.menu-item{
    display:flex;
}

.menu-item-name{
    text-align: center;
}

#reservation{
    width: 50%;
    margin: auto;
}

#form{
    border: solid thick black;
    display: block;
    text-align: start;
}

.reservation-item{
    display: flex;
    padding: 20px 10px;
}

select{
    font-size: inherit;
}

input{
    font-size: inherit;
}

#submit-container{
    justify-content: flex-end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header-title-container{
        width: 66.66%;
    }

    #header-title{
        font-size: 7vw;
    }

    #nav-bar{
        display: flex;
        background-color:black;
        width: 16.66%;
    }
    .menu-bar{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    #nav-menu{
        display: none;
    }

    #dropdown-icon{
        position: relative;
        display: inline-block;
        margin: auto;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
        top:40px;
        right: 1px;
    }

    .dropdown-content a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover{background-color: #ddd}

    #nav-bar:hover .dropdown-content{display:block;}

    #main{
        max-width: 90vw;
        font-size: 2.6vw;
    }

    #video{
        height: auto;
    }

    .menu-item-name{
        text-align: end;
    }

    #reservation{
        width: 98%;
    }

    .reservation-item label{
        padding-right: 1px;
    }

    #submit-container{
        justify-content: flex-end;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #dropdown-icon{
        display: none;
    }

    .dropdown-content{
        display: none;
    }

    #nav-ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #nav-menu{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    
    li{
        float: left;
    }
    
    .nav-link{
        font-size: 3.1vw;
        text-decoration: none;
        color: white;
    }
  }