*{
    box-sizing: border-box;
}
.col-1 {width: 8.33%; }
.col-2 {width: 16.66%;}
.col-3 {width: 25%; }
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.anchor a{
    position: absolute;
    left: 0px;
    top: -100px;
}

.anchor{
    position: relative;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header{
        position: fixed;
        display: flex;
        height: auto;
        border: thick solid black;
        top: 0px;
        left: 0px;
        right: 0px;
        background: white;
        align-items: center;
        justify-items: center;
        z-index: 2;
    }
    #header-img-container{
        display: flex;
        align-items: center;
        justify-items: center;
    }
    #header-img{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #header-title{
        font-size: 160%;
        text-align: center;
    }
    #nav-bar{
        display: flex;
    }
    .menu-bar{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    #dropdown-icon{
        position: relative;
        display: inline-block;
        margin: auto;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
        top:60px;
        right: 1px;
    }
    .dropdown-content a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover{background-color: #ddd}
    #nav-bar:hover .dropdown-content{display:block;}

    #main{
        position: relative;
        top: 110px;
        z-index: 1;
        text-align: center;
    }
    #about{
        text-align: center;
    }
    #video{
        height: auto;
        width: 95%;
        max-height: 800px;
        max-width: 1600px;
        margin: auto;
    }
    #menu-content{
        border-style: solid;
        border-color: black;
        border-width: thick;
        margin: auto;
    }
    
    .menu-items{
        margin: auto;
    }
    .menu-item{
        display:flex;
    }
    .menu-item-name{
        text-align: end;
    }

    #reservation-form{
        display: block;

        text-align: start;
    }
    .reservation-item{
        display: flex;
    }
    .reservation-item label{

    }
    .reservation-item input{

    }
    .reservation-item select{

    }

    #submit-container{
        justify-content: flex-end;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }
/* a{
    color: black;
}

#header{
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    background-color: white;
    border: solid;
    border-width: thick;
    border-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 50px;
    z-index: 2;
}

#header-img{
    height: 70px;
    width: 70px;
    padding: 10px 0 10px 20px;
}

#header-title{
    padding-left: 20px;
}

#nav-bar{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

#nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    padding-left: 20px;
}

.nav-link{
    text-decoration: none;
}

#main{
    position: relative;
    margin: auto;
    text-align: center;
    top: 110px;
    z-index: 1;
}

#reservation-form{

}

#reservation-grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto auto auto auto;
    align-content: center;
    justify-content: center;
    width: 700px;
    margin: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    border-style: solid;
    border-color: black;
    padding: 20px 0px;
    margin-bottom: 10px;
}

#email-label{
    grid-column-start: 2;

}
#email{
    grid-row-start: 4;
    grid-column-start: 2;
}

#submit{
    grid-row-start: 5;
    grid-column-start: 2;
    width: auto;
}

#video{
    height: 80vh;
    width: 80vw;
    max-height: 800px;
    max-width: 1600px;
    margin: auto;
}

.anchor a{
    position: absolute;
    left: 0px;
    top: -96px;
}

.anchor{
    position: relative;
}

#info-section{
    border-style: solid;
    border-color: black;
    border-width: thick;
    width: 200px;
    margin: auto;
}

#menu-content{
    border-style: solid;
    border-color: black;
    border-width: thick;
    margin: auto;
    width: 300px;
}

.menu-items{
    display: grid;
    grid-template-columns: 150px 50px;
    width: 200px;
    margin: auto;
} */